@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html {
	overflow: auto scroll;
}

body {
	font-size: 1em;
	line-height: 1.5em;
}

#logo {
	width: 33vw;
	min-width: 100px;
	max-width: 369px;
	float: left;
}

a[target="_blank"]::after {
	content: "\0020\2BAB";
	font-weight: bold;
}

main .hero {
	margin-top: -1rem;
	margin-left: -1rem;
	margin-right: -1rem;
}

.sticky-top {
	position: static;
	top: 0;
}

.grid {
	display: grid;
	grid-template: "aside "
	               "nav   "
	               "main  "
	               "footer";
}

.grid aside {
	grid-area: aside;
}

.grid nav {
	grid-area: nav;
}

.grid main {
	grid-area: main;
	min-width: 0;
}

.grid footer {
	grid-area: footer;
}

@media screen and (min-width: 769px) {
	.grid {
		grid-template: "aside   aside " auto
		               "nav     main  " auto
		               "space   main  " 1fr
		               "footer  footer" auto / max-content 1fr;
	}

	.sticky-top {
		position: sticky;
	}
}
