@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html {
	overflow: auto scroll;
}

body {
	font-size: 1em;
	line-height: 1.5em;
}

#logo {
	width: 33vw;
	min-width: 100px;
	max-width: 369px;
	float: left;
}

a[target="_blank"]::after {
	content: "\0020\2BAB";
	font-weight: bold;
}

main .hero {
	margin-top: -1rem;
	margin-left: -1rem;
	margin-right: -1rem;
}

.sticky-top {
	position: sticky;
	top: 0;
}
