<!DOCTYPE html>
<html lang="en">
<head>
	{? import parts/meta.html }

	<title>{? $title }</title>

	{? import parts/style.html }
</head>
<body>
	<div class="container is-desktop grid">
		<aside class="level px-4 my-4">
			<div class="level-left">
				<div class="level-item">
					<img src="/logo.svg" alt="Elephox" id="logo">
				</div>
			</div>

			<div class="level-right">
				<div class="level-item has-text-centered">
					{? import parts/branches-dropdown.html }
				</div>
			</div>
		</aside>

		<nav class="menu box is-radiusless mb-0 p-4 sticky-top">
			{? import parts/nav.html }
		</nav>
		<main class="content p-4">
			{? $content }
		</main>
	</div>

	<footer class="footer">
		<div class="container content">
			&copy Ricardo Boss 2022.<br>
			The source code is licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a><br>
			<hr>
			Thanks to <a href="https://solbros.net" target="_blank" class="hide-external-icon">Solbros &hearts;</a> for sponsoring the domain (<a href="https://elephox.dev">elephox.dev</a>).
		</div>
	</footer>

{? import parts/script.html }
</body>
</html>
