<!DOCTYPE html>
<html lang="en">
<head>
	{ import parts/meta.html }

	<title>{ $title }</title>

	{ import parts/style.html }
</head>
<body>
	<div>
		<img src="/logo.svg" alt="Elephox" id="logo">

		{ import parts/branches-dropdown.html }
	</div>

	<div>
		<nav class="menu">
			<p class="menu-label">
				General
			</p>
			<ul class="menu-list">
				<li><a href="/">Home</a></li>
				<li><a href="https://github.com/elephox-dev">GitHub</a></li>
			</ul>
			<p class="menu-label">
				Documentation
			</p>
			<ul class="menu-list">
				<li><a href="{ qualify /getting-started }">Getting Started</a></li>
				<li><a href="{ qualify /concepts }">Concepts</a></li>
				<li><a href="{ qualify /contributing }">Contributing</a></li>
			</ul>
		</nav>

		<main>
			{ $content }
		</main>
	</div>

	<footer class="footer">
		<div class="content">
			&copy Ricardo Boss 2022.<br>
			The source code is licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a>
		</div>
	</footer>

	{ import parts/script.html }
</body>
</html>
