<!DOCTYPE html>
<html lang="en">
<head>
	{? import parts/meta.html }

	<title>{? $title }</title>

	{? import parts/style.html }
</head>
<body>
	<div class="container is-desktop grid">
		<aside class="level px-4 my-4">
			<div class="level-left">
				<div class="level-item">
					<a href="/">
						<img src="/logo.svg" alt="Elephox" id="logo">
					</a>
				</div>
			</div>

<!--			<div class="level-right">-->
<!--				<div class="level-item has-text-centered">-->
<!--					{? import parts/branches-dropdown.html }-->
<!--				</div>-->
<!--			</div>-->
		</aside>

		<nav class="menu box is-radiusless mb-0 p-4 sticky-top">
			{? import parts/nav.html }
		</nav>
		<main class="content p-4">
			{? $content }
		</main>
	</div>

	<footer class="footer">
		<div class="container content">
			&copy Ricardo Boss 2022. The source code is published with the <a href="https://opensource.org/licenses/mit-license.php">MIT</a> license.<br>
			<br>
			<a href="https://github.com/elephox-dev" target="_blank">GitHub</a>&emsp;
			<a href="https://twitter.com/elephox_php" target="_blank">Twitter</a>&emsp;
			<a href="https://ricardoboss.notion.site/Elephox-d1b59b70c55f41b385e72568bbd05bd2" target="_blank">Project Goals (Notion)</a>
			<hr>
			Thanks to <a href="https://solbros.net" target="_blank" class="hide-external-icon">Solbros &hearts;</a> for sponsoring the domain (<a href="https://elephox.dev">elephox.dev</a>).<br>
			<br>
			<a href="https://www.digitalocean.com/?refcode=628de72d4440&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank" class="hide-external-icon">
				<img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" />
			</a>
		</div>
	</footer>

{? import parts/script.html }
</body>
</html>
