<p class="menu-label">
	General
</p>
<ul class="menu-list">
	<li><a href="{? qualify / }" class="{? ((active /) ? 'is-active') }">Home</a></li>
	<li><a href="https://ricardoboss.notion.site/Elephox-d1b59b70c55f41b385e72568bbd05bd2" target="_blank">Project Goals</a></li>
	<li><a href="{? qualify /guide }" class="{? ((active /guide) ? 'is-active') }">Building a To-Do-App</a></li>
</ul>
<p class="menu-label">
	Documentation
</p>
<ul class="menu-list">
	{? import (('navs/' . ($version ?? 'develop')) . '.html') }
</ul>
<hr class="is-hidden-mobile has-background-grey-lighter" style="height: 1px">
<a class="is-hidden-mobile" href="#">Back to top</a>
