<p class="menu-label">
	General
</p>
<ul class="menu-list">
	<li><a href="/">Home</a></li>
	<li><a href="https://github.com/elephox-dev" target="_blank">GitHub</a></li>
</ul>
<p class="menu-label">
	Documentation
</p>
<ul class="menu-list">
	<li><a href="{? qualify /getting-started }">Getting Started</a></li>
	<li>
		<a href="{? qualify /concepts }">Concepts</a>
		<ul>
			<li><a href="{? qualify /concepts/collections }">Collections</a></li>
			<li><a href="{? qualify /concepts/container }">Container</a></li>
			<li><a href="{? qualify /concepts/contexts-and-handlers }">Contexts & Handlers</a></li>
		</ul>
	</li>
	<li><a href="{? qualify /contributing }">Contributing</a></li>
</ul>
<hr class="is-hidden-mobile has-background-grey-lighter">
<a class="is-hidden-mobile" href="#">Back to top</a>
